.table-container {
    width: 80%; 
    margin: 0 auto; 
    /* this allows for horizontal scrolling if the table-container overflows out of the screen*/
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #e5e5e5;
  }